 body {
     background-color: black;
     text-align: center;
 }

 h1 {
     font-family: Verdana;
     font-weight: normal;
     font-size: 50px;
     color: white;
     text-align: center;
 }

 p a {
     color: aquamarine;
     font-size: 16px;
 }

 video {
     width: 404px;
     height: 720px;
     font-family: Verdana;
     font-size: 16px;
     /* color: white; */
 }

 h2 {
     font-family: Verdana;
     font-weight: 300;
     font-size: 42px;
     color: white;
 }

 p {
     font-family: Verdana;
     font-size: 21px;
     color: gray;
 }

 p img[src="resources/images/camp.webp"] {
     width: 896px;
     height: 527px;
 }

 p img[src="resources/images/phone.webp"] {
     width: 64px;
     height: 108px;
 }

 p:last-child {
     text-align: right;
     color: gray;
 }