/* Styles par défaut */
body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

p a {
    color: aquamarine;
    font-size: 16px;
}

video {
    width: 100%;
    max-width: 404px;
    height: auto;
    font-size: 16px;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-size: 21px;
    color: gray;
}

p img[src="resources/images/camp.webp"] {
    width: 100%;
    max-width: 896px;
    height: auto;
}

p img[src="resources/images/phone.webp"] {
    width: 100%;
    max-width: 64px;
    height: auto;
}

.footer {
    text-align: right;
    color: gray;
}

/* Media Query pour les écrans de taille moyenne à grande */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 60px;
    }

    p {
        font-size: 24px;
    }
}